.highscoreWrap {
margin: 3%;
}
.headingHighScore {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonGoBack {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    margin: 1% 45%;
}
.buttonGoBack a {
  text-decoration: none;
}
.buttonClrScore {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 45%;
}

