/* style for view highscore and timer */
#headboard {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}
/* timer */
#countdown {
  display: flex;
}
/* highscore */
#scoreboard {
  text-decoration: none;
  font-size: x-large;
  font: bolder;
}

/* start-page */
#start-wrapper {
  align-items: center;
  text-align: center;
}
.start-page {
  text-align: center;
  margin: 2%;
  font-size: xx-large;
}
/* paragraph */
#intro {
  text-align: center;
  font-size: x-large;
  margin: 2%;
}
/* start quiz button */
.btnStart {
  padding-left: 1%;
  padding-right: 1%;
}
/* quiz wrapper */
#quiz-container {
  display: flex;
  margin-left: 5%;
}
/* questions */
#questions {
  font-weight: bold;
  font-size: x-large;
}
/* buttons in start page quiz page */
button {
  background-color: blueviolet;
  color: whitesmoke;
  border-radius: 10%;
  font-size: x-large;
}
/* styles for correct/incorrect  */
#choiceCheck {
  margin-top: 1%;
  border-top: solid whitesmoke;
  font-size: x-large;
  font: bolder;
  font-style: italic;
}
/* submit score page */
#scoreResult {
  display: none;
  align-items: center;
  text-align: center;
}
h2 {
  font-size: xx-large;
}

#result{
    font-size: larger;
    margin: 1%;
}