/* :root {} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family? */
}
/* body */
/* body {} */

/* header  */

#headboard {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

#countdown {
   display: flex;
}

#scoreboard {
    text-decoration: none;
}

/* start-page */

#start-wrapper{
    align-items: center;
    text-align: center;
}
.start-page {
    text-align: center;
    margin: 2%;
}

#intro {
    text-align: center;
    margin: 2%;
}

.btnStart {
    padding-left: 1%;
    padding-right: 1%;
    
}

#quiz-container{
border: solid black 10px;
display: fle;
}

#questions{
font-weight: bold;

}

button {
    background-color: blueviolet;
    color: whitesmoke;
    border-radius: 10%;
}




#scoreResult{
    display: none;
}